#html-editor {
  height: 250px;
  width: 700px;
  background: #2d2d2d;
}

#css-editor {
  height: 250px;
  width: 700px;
  margin-top: 5px;
  background: #2d2d2d;
}

#js-editor {
  height: 250px;
  width: 700px;
  margin-top: 5px;  
  background: #2d2d2d;
}

#preview {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  right: 0;
  border: 0;
  width: 60%;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  /*background: #ffff00;*/
  /*box-shadow: -4px 0px 15px #1C1C1C;*/
}